Repository peer-digital/peerai: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-backend-tests, frontend-lint, frontend-tests

.pre-commit-config.yaml:

repos:
  # black - Python code formatter
  - repo: https://github.com/psf/black  # @note: Python code formatter - do not change URL
    rev: 23.9.0  # @note: Black version - update with caution
    hooks:
      - id: black
        language_version: python3.11

  # ruff - Fast Python linter
  - repo: https://github.com/astral-sh/ruff-pre-commit  # @note: Fast Python linter - do not change URL
    rev: v0.1.0  # @note: Ruff version - update with caution
    hooks:
      - id: ruff
        args: [--fix, --exit-zero]

  # Local hooks
  - repo: local
    hooks:
      # Run backend unit tests before commit
      - id: run-backend-tests
        name: Run Backend Unit Tests
        entry: pytest tests/test_auth.py tests/test_inference.py -v --no-cov
        language: system
        types: [python]
        pass_filenames: false
        verbose: true
        
      # Run frontend linting
      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend/admin-dashboard && npm run lint:fix'
        language: system
        files: ^frontend/admin-dashboard/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        
      # Run frontend unit tests
      - id: frontend-tests
        name: Frontend Unit Tests
        entry: bash -c 'cd frontend/admin-dashboard && npm run test:unit:ci'
        language: system
        files: ^frontend/admin-dashboard/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

updated migration file
  backend/alembic/versions/fix_referral_migration.py
  backend/alembic/versions/fix_referral_system_migration.py
Due: run-backend-tests

fix: improve migration handling in build script and fix python path
  backend/alembic/env.py
  backend/build.sh
Due: run-backend-tests

deploy fixes
  backend/scripts/check_alembic_version.py
Due: run-backend-tests

Default tokens added for deploy
  frontend/admin-dashboard/src/pages/UserManagement.tsx
  frontend/admin-dashboard/src/utils/rbac.ts
Due: frontend-lint, frontend-tests

FE URL env variable updated
  backend/services/email.py
Due: run-backend-tests

wip
  backend/alembic/versions/16e5e60f9836_add_email_verification_fields.py
  backend/config.py
  backend/database.py
  backend/models/auth.py
  backend/routes/auth.py
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/pages/EmailVerification.tsx
  frontend/admin-dashboard/src/pages/Users.tsx
Due: run-backend-tests, frontend-lint, frontend-tests

Welcome email verification
  backend/schemas/admin.py
  frontend/admin-dashboard/src/pages/EmailVerification.tsx
  frontend/admin-dashboard/src/pages/Users.tsx
Due: run-backend-tests, frontend-lint, frontend-tests

field update
  frontend/admin-dashboard/src/pages/Users.tsx
Due: frontend-lint, frontend-tests

Removed redeudant status field
  frontend/admin-dashboard/src/pages/Users.tsx
Due: frontend-lint, frontend-tests

Updated email to match new sender
  backend/services/email.py
  requirements.txt
Due: run-backend-tests

Migration file
  backend/alembic/versions/75727fa631b4_update_system_settings_model.py
Due: run-backend-tests

reference error
  backend/database.py
Due: run-backend-tests

requirements file update.
  backend/requirements.txt
Due: none

align CTA in email left
  backend/routes/auth.py
  backend/services/email.py
Due: run-backend-tests

Developer docs + simple cookbook for CURL use of API
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/pages/DeveloperDocs.tsx
Due: frontend-lint, frontend-tests

feat(api): Implement public LLM API with CORS and endpoint separation
  backend/main.py
  frontend/admin-dashboard/src/pages/DeveloperDocs.tsx
Due: run-backend-tests, frontend-lint, frontend-tests

fix(api): Separate LLM API and admin routes with dedicated CORS policies
  backend/main.py
  frontend/admin-dashboard/src/pages/DeveloperDocs.tsx
  frontend/admin-dashboard/src/pages/Playground.tsx
Due: run-backend-tests, frontend-lint, frontend-tests

fix(cors): Update CORS configuration for browser compatibility
  backend/main.py
Due: run-backend-tests

fix: Configure CORS to allow public LLM API access while maintaining admin security
  backend/main.py
Due: run-backend-tests

fix(cors): Configure dual CORS policy for public LLM API and secure admin routes
  backend/main.py
  frontend/admin-dashboard/src/pages/DeveloperDocs.tsx
Due: run-backend-tests, frontend-lint, frontend-tests

Cookbook updates
  frontend/admin-dashboard/src/pages/DeveloperDocs.tsx
Due: frontend-lint, frontend-tests

GH Actions
  .github/workflows/deploy.yml
  PrivateKey.rsa
  PublicKey.pem
  deployment/README.md
  scripts/backup_db.sh
  scripts/check_deployment.sh
  scripts/deploy.sh
  scripts/init_vm.sh
  scripts/restore_db.sh
  scripts/setup_cron.sh
  scripts/setup_ssh.sh
  scripts/setup_vm.sh
Due: none

Git 2
  .github/workflows/deploy.yml
  deployment/README.md
  docs/github-auth-guide.md
  scripts/manual_github_setup.sh
  scripts/setup_github_auth.sh
  scripts/test_github_auth.sh
Due: none

GH 3
  .github/workflows/deploy.yml
  deployment/README.md
  docs/github-auth-guide.md
Due: none

GH 4
  .github/workflows/deploy.yml
  deployment/README.md
  docs/github-auth-guide.md
  scripts/diagnose_github_repo.sh
  scripts/manual_github_setup.sh
  scripts/setup_github_auth.sh
  scripts/test_github_auth.sh
Due: none

GH5
  .github/workflows/deploy.yml
  deployment/README.md
  scripts/copy_backup_to_vm.sh
  scripts/deploy.sh
  scripts/fix_permissions.sh
  scripts/restore_db.sh
Due: none

GH6
  .github/workflows/deploy.yml
  deployment/README.md
  scripts/deploy.sh
  scripts/init_db.sh
  scripts/init_db_auto.sh
Due: none

Fix PostgreSQL authentication and database connection issues
  .env.example
  .github/workflows/ci.yml
  backend/alembic/env.py
  backend/config.py
  backend/scripts/check_alembic_version.py
  scripts/create_admin_user.sh
  scripts/diagnose_postgres.sh
  scripts/fix_migration.sh
  scripts/fix_postgres_auth.sh
  scripts/init_db.sh
  scripts/init_db_auto.sh
  scripts/run_migrations.sh
  scripts/setup_ssh_key.sh
  scripts/ssh_to_db.sh
  scripts/verify_admin_user.sh
Due: run-backend-tests

Fix GitHub Actions deployment issues
  .github/workflows/deploy.yml
  scripts/debug_migrations.sh
  scripts/fix_github_actions.sh
Due: none

Fix frontend build memory issues and add Nginx/systemd configuration
  .github/workflows/deploy.yml
  scripts/fix_frontend_build.sh
Due: none

Split deployment workflow into separate frontend and backend jobs
  .github/workflows/deploy_split.yml
Due: none

Add display names to deployment workflow jobs
  .github/workflows/deploy_split.yml
Due: none

GH7
  .github/workflows/deploy.yml
  .github/workflows/deploy_split.yml
Due: none

gh8
  .github/workflows/deploy.yml
Due: none

Revert "gh8"
  .github/workflows/deploy.yml
Due: none

Revert "GH7"
  .github/workflows/deploy.yml
  .github/workflows/deploy_split.yml
Due: none

Revert "Add display names to deployment workflow jobs"
  .github/workflows/deploy_split.yml
Due: none

Revert "Split deployment workflow into separate frontend and backend jobs"
  .github/workflows/deploy_split.yml
Due: none

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

wip
  .github/workflows/deploy.yml
  .github/workflows/deploy_split.yml
  scripts/diagnose_ssh.sh
Due: none
