Repository peer-digital/peerai: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-backend-tests, frontend-lint, frontend-tests

run-backend-tests:
  name: Run Backend Unit Tests
  entry: pytest tests/test_auth.py tests/test_inference.py -v --no-cov
  language: system
  pass_filenames: false
  verbose: true

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend/admin-dashboard && npm run lint:fix'
  language: system
  pass_filenames: false

frontend-tests:
  name: Frontend Unit Tests
  entry: bash -c 'cd frontend/admin-dashboard && npm run test:unit:ci'
  language: system
  pass_filenames: false

Update API URLs to use HTTPS instead of HTTP to fix mixed content issues
  .github/workflows/deploy.yml
  frontend/admin-dashboard/src/api/client.ts
  frontend/admin-dashboard/src/services/api.ts
Due: frontend-lint, frontend-tests

Fix UI issues: drawer overlay persistence and theme toggle icon visibility
  frontend/admin-dashboard/src/components/ui/ThemeToggle.tsx
  frontend/admin-dashboard/src/index.css
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/theme/theme.ts
Due: frontend-lint, frontend-tests

Fix SSL certificate handling during deployment to prevent loss on VM
  .github/workflows/deploy.yml
  scripts/check_deployment.sh
  scripts/ssl_check.sh
Due: none

Optimize Documentation page loading performance
  frontend/admin-dashboard/src/components/docs/CodeBlock.tsx
  frontend/admin-dashboard/src/components/docs/CookbookSection.tsx
  frontend/admin-dashboard/src/data/examples/chatAppExample.ts
  frontend/admin-dashboard/src/data/examples/codeExamples.ts
  frontend/admin-dashboard/src/pages/DeveloperDocs.tsx
Due: frontend-lint, frontend-tests

Fix code example text visibility in dark mode
  frontend/admin-dashboard/src/components/docs/CodeBlock.tsx
  frontend/admin-dashboard/src/components/docs/CookbookSection.tsx
Due: frontend-lint, frontend-tests

Fix TypeScript errors in syntax highlighter implementation
  frontend/admin-dashboard/src/components/docs/CodeBlock.tsx
  frontend/admin-dashboard/src/components/docs/CookbookSection.tsx
Due: frontend-lint, frontend-tests

Fix logout modal not closing when clicking outside
  frontend/admin-dashboard/src/index.css
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/theme/theme.ts
Due: frontend-lint, frontend-tests

Fix TypeScript errors in Menu component
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
Due: frontend-lint, frontend-tests

Copy key confirmation toast
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/pages/ApiKeys.tsx
Due: frontend-lint, frontend-tests

fix
  frontend/admin-dashboard/src/components/ui/ThemeToggle.tsx
  frontend/admin-dashboard/src/pages/ModelManagement.tsx
  frontend/admin-dashboard/src/pages/Playground.tsx
  frontend/admin-dashboard/src/theme/theme.ts
Due: frontend-lint, frontend-tests

model management
  backend/services/model_orchestrator.py
  frontend/admin-dashboard/src/index.css
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/pages/ModelManagement.tsx
Due: run-backend-tests, frontend-lint, frontend-tests

fix: improve UI layout with full-width pages and centered content
  frontend/admin-dashboard/src/components/ui/Container.tsx
  frontend/admin-dashboard/src/index.css
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/pages/ApiKeys.tsx
  frontend/admin-dashboard/src/pages/Dashboard.tsx
  frontend/admin-dashboard/src/pages/DeveloperDocs.tsx
  frontend/admin-dashboard/src/pages/GetStarted.tsx
  frontend/admin-dashboard/src/pages/ModelManagement.tsx
  frontend/admin-dashboard/src/pages/Playground.tsx
  frontend/admin-dashboard/src/pages/TeamManagement.tsx
  frontend/admin-dashboard/src/pages/UserManagement.tsx
  frontend/admin-dashboard/src/pages/Users.tsx
Due: frontend-lint, frontend-tests

Margin fixes
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
Due: frontend-lint, frontend-tests

increase margin slightly o nlarge screens
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
Due: frontend-lint, frontend-tests

Improved look of scrollbars
  frontend/admin-dashboard/src/index.css
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/theme/theme.ts
Due: frontend-lint, frontend-tests

Standardize typography across all pages
  frontend/admin-dashboard/src/components/ui/Card.tsx
  frontend/admin-dashboard/src/components/ui/EmptyState.tsx
  frontend/admin-dashboard/src/components/ui/PageHeader.tsx
  frontend/admin-dashboard/src/components/ui/PageLoader.tsx
  frontend/admin-dashboard/src/index.css
  frontend/admin-dashboard/src/pages/Dashboard.tsx
  frontend/admin-dashboard/src/pages/DeveloperDocs.tsx
  frontend/admin-dashboard/src/pages/GetStarted.tsx
  frontend/admin-dashboard/src/pages/Login.tsx
  frontend/admin-dashboard/src/pages/ModelManagement.tsx
  frontend/admin-dashboard/src/pages/NotFound.tsx
  frontend/admin-dashboard/src/pages/Referrals.tsx
  frontend/admin-dashboard/src/pages/Settings.tsx
  frontend/admin-dashboard/src/pages/TeamManagement.tsx
  frontend/admin-dashboard/src/pages/Users.tsx
Due: frontend-lint, frontend-tests

sticky banner
  frontend/admin-dashboard/src/components/ui/AnnouncementBanner.tsx
  frontend/admin-dashboard/src/components/ui/index.ts
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
Due: frontend-lint, frontend-tests

sticky banner fix
  frontend/admin-dashboard/src/components/ui/AnnouncementBanner.tsx
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
Due: frontend-lint, frontend-tests

Fixes button pos on sticky banner
  frontend/admin-dashboard/src/components/ui/AnnouncementBanner.tsx
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
Due: frontend-lint, frontend-tests

validation fixes
  frontend/admin-dashboard/src/pages/Playground.tsx
Due: frontend-lint, frontend-tests

Update Playground.tsx
  frontend/admin-dashboard/src/pages/Playground.tsx
Due: frontend-lint, frontend-tests

Fix deployment issue: Simplify model configuration by using hardcoded values in seed_mistral_models.py
  backend/model_defaults.py
  backend/scripts/check_models_exist.py
  backend/scripts/seed_mistral_models.py
Due: run-backend-tests

Update default active models to mistral-large-latest, mistral-medium-latest, and mistral-small-latest
  backend/scripts/seed_mistral_models.py
Due: run-backend-tests

Fix import error: Re-export settings from backend.config in backend/config/__init__.py
  backend/config/__init__.py
Due: run-backend-tests

Revert "Fix import error: Re-export settings from backend.config in backend/config/__init__.py"
  backend/config/__init__.py
Due: run-backend-tests

Revert "Update default active models to mistral-large-latest, mistral-medium-latest, and mistral-small-latest"
  backend/scripts/seed_mistral_models.py
Due: run-backend-tests

Revert "Fix deployment issue: Simplify model configuration by using hardcoded values in seed_mistral_models.py"
  backend/model_defaults.py
  backend/scripts/check_models_exist.py
  backend/scripts/seed_mistral_models.py
Due: run-backend-tests

Fix model configuration persistence during deployment. Modified seed_mistral_models.py to only run if no models exist in the database, preserving manual configurations.
  backend/scripts/seed_mistral_models.py
  scripts/check_models.sh
  scripts/deploy.sh
Due: run-backend-tests

wip
  INTELLIGENT_CHATBOT_TEMPLATE.md
  backend/routes/public_apps.py
  backend/scripts/intelligent-chatbot-template-config.json
  backend/scripts/intelligent-chatbot-template.html
  backend/scripts/seed_app_templates.py
  backend/utils/template_helpers.py
  frontend/admin-dashboard/src/api/appTemplates.ts
  frontend/admin-dashboard/src/pages/AppPlayground.tsx
  frontend/admin-dashboard/src/pages/DeployedAppView.tsx
  frontend/admin-dashboard/src/utils/templateHelpers.ts
  intelligent-chatbot-template-config.json
  intelligent-chatbot-template.html
Due: run-backend-tests, frontend-lint, frontend-tests

Improve navigation menu: group related pages, update icons, and rename Playground to API Playground
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
Due: frontend-lint, frontend-tests

Improve app configuration UI: Make it more intuitive and no-code friendly, remove code tab, add desktop/mobile preview views, and make config sections collapsible
  frontend/admin-dashboard/src/api/deployedApps.ts
  frontend/admin-dashboard/src/components/app-store/index.ts
  frontend/admin-dashboard/src/components/config/EnhancedConfigForm.tsx
  frontend/admin-dashboard/src/components/preview/DevicePreview.tsx
  frontend/admin-dashboard/src/pages/AppPlayground.tsx
  frontend/admin-dashboard/src/pages/AppTemplatesManagement.tsx
  frontend/admin-dashboard/src/pages/DeployedAppView.tsx
Due: frontend-lint, frontend-tests

Fix height calculation and overflow issues in app configuration UI
  frontend/admin-dashboard/src/pages/AppPlayground.tsx
  frontend/admin-dashboard/src/pages/DeployedAppView.tsx
Due: frontend-lint, frontend-tests

Improve preview functionality: Fix desktop preview height and add fullscreen mode
  frontend/admin-dashboard/src/components/preview/DevicePreview.tsx
  frontend/admin-dashboard/src/pages/AppPlayground.tsx
Due: frontend-lint, frontend-tests

Fix tabs getting covered when config container shrinks
  frontend/admin-dashboard/src/pages/AppPlayground.tsx
  frontend/admin-dashboard/src/pages/DeployedAppView.tsx
Due: frontend-lint, frontend-tests

Fix default API key selection functionality
  backend/models/auth.py
  backend/routes/auth.py
  backend/scripts/add_default_api_key.py
  frontend/admin-dashboard/src/components/common/ApiKeySelector.tsx
  frontend/admin-dashboard/src/pages/AppLibrary.tsx
  frontend/admin-dashboard/src/pages/Playground.tsx
Due: run-backend-tests, frontend-lint, frontend-tests

wip
  backend/scripts/intelligent-chatbot-template-config.json
  backend/scripts/intelligent-chatbot-template.html
  backend/scripts/seed_app_templates.py
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/config/navigation.ts
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/pages/AppPlayground.tsx
  frontend/admin-dashboard/src/pages/MyApps.tsx
Due: run-backend-tests, frontend-lint, frontend-tests

Policy added
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/pages/LegalPages.tsx
  frontend/admin-dashboard/src/pages/Login.tsx
  frontend/admin-dashboard/src/types/auth.ts
Due: frontend-lint, frontend-tests

Tersm and privacy added to footer
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
Due: frontend-lint, frontend-tests

Polict edit
  frontend/admin-dashboard/src/pages/LegalPages.tsx
Due: frontend-lint, frontend-tests

Path conditions:
  run-backend-tests: any of: \.py$
  frontend-lint: any of: ^frontend/admin-dashboard/.*\.(ts|tsx|js|jsx)$
  frontend-tests: any of: ^frontend/admin-dashboard/.*\.(ts|tsx|js|jsx)$
