Repository peer-digital/peerai: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-backend-tests, frontend-lint, frontend-tests

.pre-commit-config.yaml:

repos:
  # black - Python code formatter
  - repo: https://github.com/psf/black  # @note: Python code formatter - do not change URL
    rev: 23.9.0  # @note: Black version - update with caution
    hooks:
      - id: black
        language_version: python3.11

  # ruff - Fast Python linter
  - repo: https://github.com/astral-sh/ruff-pre-commit  # @note: Fast Python linter - do not change URL
    rev: v0.1.0  # @note: Ruff version - update with caution
    hooks:
      - id: ruff
        args: [--fix, --exit-zero]

  # Local hooks
  - repo: local
    hooks:
      # Run backend unit tests before commit
      - id: run-backend-tests
        name: Run Backend Unit Tests
        entry: pytest tests/test_auth.py tests/test_inference.py -v --no-cov
        language: system
        types: [python]
        pass_filenames: false
        verbose: true
        
      # Run frontend linting
      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend/admin-dashboard && npm run lint:fix'
        language: system
        files: ^frontend/admin-dashboard/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        
      # Run frontend unit tests
      - id: frontend-tests
        name: Frontend Unit Tests
        entry: bash -c 'cd frontend/admin-dashboard && npm run test:unit:ci'
        language: system
        files: ^frontend/admin-dashboard/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

Fix Nginx configuration conflicts causing backend endpoint errors
  fix-nginx.sh
  scripts/deploy.sh
  scripts/fix-nginx.sh
Due: none

Fix Nginx configuration: Move CORS headers to valid location blocks
  fix-nginx.sh
Due: none

Update deploy.sh to skip Nginx configuration if SKIP_NGINX_CONFIG flag is set
  scripts/deploy.sh
Due: none

Update GitHub Actions workflow to skip Nginx config changes by default
  .github/workflows/deploy.yml
Due: none

Fix login issue by sending JSON data instead of form data
  frontend/admin-dashboard/src/services/auth.service.ts
Due: frontend-lint, frontend-tests

Fix API base URL configuration and disable withCredentials to avoid CORS issues
  frontend/admin-dashboard/src/api/config.ts
Due: frontend-lint, frontend-tests

Hardcode API URL to VM IP and remove proxy configuration
  frontend/admin-dashboard/src/api/config.ts
  frontend/admin-dashboard/vite.config.ts
Due: frontend-lint, frontend-tests

Fix API URL configuration to use GitHub repository variables
  .github/workflows/deploy.yml
  frontend/admin-dashboard/src/api/config.ts
  scripts/deploy.sh
Due: frontend-lint, frontend-tests

Fix route prefixes to match frontend expectations
  backend/main.py
  backend/routes/admin.py
  backend/routes/referral.py
Due: run-backend-tests

Update API base URL to use new VM endpoint
  frontend/admin-dashboard/src/api/config.ts
  frontend/admin-dashboard/src/config.ts
  frontend/admin-dashboard/vite.config.ts
Due: frontend-lint, frontend-tests

Fix duplicate API URL paths by removing redundant /api/v1 prefixes
  frontend/admin-dashboard/cypress/e2e/auth.cy.ts
  frontend/admin-dashboard/cypress/support/e2e.ts
  frontend/admin-dashboard/src/api/rbac.ts
  frontend/admin-dashboard/src/pages/Analytics.tsx
  frontend/admin-dashboard/src/pages/Dashboard.tsx
  frontend/admin-dashboard/src/pages/EmailVerification.tsx
  frontend/admin-dashboard/src/pages/ModelManagement.tsx
  frontend/admin-dashboard/src/pages/Playground.tsx
  frontend/admin-dashboard/src/services/api.ts
  frontend/admin-dashboard/src/services/auth.service.ts
Due: frontend-lint, frontend-tests

Fix API URL configuration to prevent 404 errors
  frontend/admin-dashboard/src/api/config.ts
  frontend/admin-dashboard/src/config.ts
  frontend/admin-dashboard/src/pages/Playground.tsx
  frontend/admin-dashboard/src/services/api.ts
Due: frontend-lint, frontend-tests

Fix API URL structure and login request format
  frontend/admin-dashboard/src/api/config.ts
  frontend/admin-dashboard/src/pages/Playground.tsx
  frontend/admin-dashboard/src/services/api.ts
  frontend/admin-dashboard/src/services/auth.service.ts
Due: frontend-lint, frontend-tests

Fix inconsistencies between local and server environments
  backend/config.py
  backend/routes/auth.py
  frontend/admin-dashboard/src/api/config.ts
  frontend/admin-dashboard/src/config.ts
  frontend/admin-dashboard/src/pages/Playground.tsx
  frontend/admin-dashboard/src/services/api.ts
Due: run-backend-tests, frontend-lint, frontend-tests

Fix login endpoint to support both form data and JSON
  backend/routes/auth.py
  frontend/admin-dashboard/src/services/auth.service.ts
Due: run-backend-tests, frontend-lint, frontend-tests

Ensure API compatibility between local and server environments
  backend/main.py
  frontend/admin-dashboard/src/api/config.ts
  frontend/admin-dashboard/src/pages/Playground.tsx
Due: run-backend-tests, frontend-lint, frontend-tests

Fix API endpoints in frontend code by removing /v1 prefix
  frontend/admin-dashboard/src/api/client.ts
  frontend/admin-dashboard/src/api/config.ts
  frontend/admin-dashboard/src/config.ts
  frontend/admin-dashboard/src/pages/ApiKeys.tsx
  frontend/admin-dashboard/src/pages/Settings.tsx
  frontend/admin-dashboard/src/pages/Users.tsx
  frontend/admin-dashboard/src/services/api.ts
  frontend/admin-dashboard/src/services/auth.service.ts
  frontend/admin-dashboard/vite.config.ts
Due: frontend-lint, frontend-tests

Add Mistral API parameters and UI controls in Playground
  backend/alembic/versions/9d2d0607c1c9_add_mistral_api_parameters.py
  backend/alembic/versions/fix_model_registry_migration.py
  backend/alembic/versions/model_registry_migration.py
  backend/config.py
  backend/create_model_tables.py
  backend/routes/inference.py
  backend/services/model_orchestrator.py
  frontend/admin-dashboard/src/pages/Playground.tsx
Due: run-backend-tests, frontend-lint, frontend-tests

Domain migration
  frontend/admin-dashboard/src/pages/ApiKeys.tsx
Due: frontend-lint, frontend-tests

Fix API base URL to use server IP instead of localhost
  frontend/admin-dashboard/src/api/client.ts
  frontend/admin-dashboard/src/api/config.ts
  frontend/admin-dashboard/vite.config.ts
Due: frontend-lint, frontend-tests

Update API endpoints to use /api/v1 prefix
  frontend/admin-dashboard/cypress/e2e/auth.cy.ts
  frontend/admin-dashboard/cypress/support/e2e.ts
  frontend/admin-dashboard/src/pages/ApiKeys.tsx
  frontend/admin-dashboard/src/pages/EmailVerification.tsx
  frontend/admin-dashboard/src/services/auth.service.ts
Due: frontend-lint, frontend-tests

Fix double /api prefix in API endpoint URLs
  frontend/admin-dashboard/cypress/e2e/auth.cy.ts
  frontend/admin-dashboard/cypress/support/e2e.ts
  frontend/admin-dashboard/src/pages/ApiKeys.tsx
  frontend/admin-dashboard/src/pages/EmailVerification.tsx
  frontend/admin-dashboard/src/services/auth.service.ts
Due: frontend-lint, frontend-tests

Fix API endpoint paths to match backend routes
  .env
  frontend/admin-dashboard/cypress/e2e/auth.cy.ts
  frontend/admin-dashboard/cypress/support/e2e.ts
  frontend/admin-dashboard/src/api/client.ts
  frontend/admin-dashboard/src/config.ts
  frontend/admin-dashboard/src/pages/ApiKeys.tsx
  frontend/admin-dashboard/src/pages/EmailVerification.tsx
  frontend/admin-dashboard/src/services/auth.service.ts
  frontend/admin-dashboard/vite.config.ts
Due: frontend-lint, frontend-tests

Fix NGINX configuration to preserve /api prefix when proxying requests
  fix-nginx.sh
  scripts/deploy.sh
Due: none

Fix API routing and deployment configuration for consistent /api prefix handling
  .github/workflows/deploy.yml
  backend/main.py
  deployment/nginx.conf
  deployment/run_deploy.sh
  fix-nginx.sh
  frontend/admin-dashboard/src/api/client.ts
Due: run-backend-tests, frontend-lint, frontend-tests

Fix GitHub Actions workflow by removing redundant Nginx config copy
  .github/workflows/deploy.yml
Due: none

Fix deployment scripts and add missing fix_permissions.sh script
  .github/workflows/deploy.yml
  deployment/run_deploy.sh
  scripts/fix_permissions.sh
Due: none

Fix deployment configuration issues: Correct nginx config, simplify CORS middleware, improve deployment script, update API client
  backend/main.py
  deployment/nginx.conf
  deployment/run_deploy.sh
  frontend/admin-dashboard/src/api/client.ts
Due: run-backend-tests, frontend-lint, frontend-tests

Update .gitignore
  .gitignore
Due: none

Implement consistent API endpoint handling for cross-origin and same-origin deployments
  .github/workflows/deploy.yml
  README.md
  deployment/nginx.conf
  deployment/run_deploy.sh
  frontend/admin-dashboard/src/api/client.ts
  frontend/admin-dashboard/src/api/config.ts
  frontend/admin-dashboard/src/config.ts
  frontend/admin-dashboard/src/pages/DeveloperDocs.tsx
  frontend/admin-dashboard/src/pages/Playground.tsx
  scripts/deploy.sh
Due: frontend-lint, frontend-tests

Fix API endpoint issues: remove duplicate /api prefix in frontend and improve NGINX config for auth endpoints
  deployment/nginx.conf
  frontend/admin-dashboard/src/services/auth.service.ts
  scripts/deploy.sh
Due: frontend-lint, frontend-tests

Fix auth service to use /auth/me instead of /auth/validate and handle name field correctly
  frontend/admin-dashboard/src/services/auth.service.ts
Due: frontend-lint, frontend-tests

Fix auth service API paths by removing leading slashes to prevent duplicate /api prefix
  frontend/admin-dashboard/src/services/auth.service.ts
Due: frontend-lint, frontend-tests

Fix Dashboard to properly handle authentication errors and malformed responses
  frontend/admin-dashboard/src/api/config.ts
  frontend/admin-dashboard/src/pages/Dashboard.tsx
Due: frontend-lint, frontend-tests

Fix Dashboard component to safely handle undefined values and prevent toLocaleString errors
  frontend/admin-dashboard/src/pages/Dashboard.tsx
Due: frontend-lint, frontend-tests

Update Dashboard.tsx
  frontend/admin-dashboard/src/pages/Dashboard.tsx
Due: frontend-lint, frontend-tests

Fix frontend-build.tar.gz path in deployment script
  deployment/run_deploy.sh
Due: none

Fix deployment workflow to reinstall backend and database
  .github/workflows/deploy.yml
  deployment/run_deploy.sh
Due: none

Enhance deployment process with prerequisites, error handling, and verification
  .github/workflows/deploy.yml
  deployment/run_deploy.sh
Due: none

Fix python3-venv installation in deployment script
  deployment/run_deploy.sh
Due: none
