Repository peer-digital/peerai: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-backend-tests, frontend-lint, frontend-tests

run-backend-tests:
  name: Run Backend Unit Tests
  entry: pytest tests/test_auth.py tests/test_inference.py -v --no-cov
  language: system
  pass_filenames: false
  verbose: true

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend/admin-dashboard && npm run lint:fix'
  language: system
  pass_filenames: false

frontend-tests:
  name: Frontend Unit Tests
  entry: bash -c 'cd frontend/admin-dashboard && npm run test:unit:ci'
  language: system
  pass_filenames: false

Update backend routes and configurations
  .github/workflows/ci.yml
  README.md
  backend/core/security.py
  backend/database.py
  backend/main.py
  backend/routes/__init__.py
  backend/routes/admin.py
  backend/routes/auth.py
  backend/routes/inference.py
  backend/services/analytics.py
  pyproject.toml
  scripts/pre_launch_check.py
Due: run-backend-tests

feat: update API key deletion functionality with correct endpoint and improved UX
  frontend/admin-dashboard/src/pages/ApiKeys.tsx
Due: frontend-lint, frontend-tests

fix: add httpx dependency to requirements.txt for Render deployment
  backend/requirements.txt
Due: none

fix: add python-multipart dependency for form handling
  backend/requirements.txt
Due: none

refactor: update datetime formatting to European ISO standard (DD/MM/YYYY)
  frontend/admin-dashboard/src/pages/Analytics.tsx
  frontend/admin-dashboard/src/pages/ApiKeys.tsx
Due: frontend-lint, frontend-tests

fix: add start script for Render deployment
  frontend/admin-dashboard/package.json
Due: none

fix: layout issues in playground page
  frontend/admin-dashboard/src/pages/Dashboard.tsx
  frontend/admin-dashboard/src/pages/Login.tsx
  frontend/admin-dashboard/src/pages/Playground.tsx
  frontend/admin-dashboard/src/pages/Settings.tsx
  frontend/admin-dashboard/src/pages/Users.tsx
Due: frontend-lint, frontend-tests

fix: adjust tsconfig for production build
  frontend/admin-dashboard/tsconfig.json
Due: none

fix: add allowed hosts and CORS config for Render domains
  frontend/admin-dashboard/vite.config.ts
Due: frontend-lint, frontend-tests

feat: add Render domains to backend CORS allowed origins
  backend/config.py
Due: run-backend-tests

fix: update CORS and API configuration for Render deployment
  backend/main.py
  frontend/admin-dashboard/src/api/config.ts
Due: run-backend-tests, frontend-lint, frontend-tests

feat: add build script with database migrations
  backend/build.sh
Due: none

fix: update build script paths for Render deployment
  backend/build.sh
Due: none

fix: update Python path handling for Alembic migrations
  backend/alembic/env.py
  backend/build.sh
Due: run-backend-tests

feat: add admin user creation script
  backend/build.sh
  backend/scripts/create_admin.py
Due: run-backend-tests

fix: add User model and fix Python path in admin script
  backend/models/base.py
  backend/models/user.py
  backend/scripts/create_admin.py
Due: run-backend-tests

fix: update SQLAlchemy Base class definition
  backend/models/base.py
Due: run-backend-tests

fix: add extend_existing to models and create system settings model
  backend/models/__init__.py
  backend/models/base.py
  backend/models/system_settings.py
Due: run-backend-tests

feat: add database verification script
  backend/build.sh
  backend/scripts/verify_db.py
Due: run-backend-tests

Revert "feat: add database verification script"
  backend/build.sh
  backend/scripts/verify_db.py
Due: run-backend-tests

feat: add APIKey and UsageRecord models
  backend/models/__init__.py
  backend/models/api_key.py
  backend/models/usage_record.py
Due: run-backend-tests

Revert "feat: add APIKey and UsageRecord models"
  backend/models/__init__.py
  backend/models/api_key.py
  backend/models/usage_record.py
Due: run-backend-tests

fix: add updated_by to system_settings and fix APIKey import
  backend/alembic/versions/f8243840b28d_add_updated_by_to_system_settings.py
  backend/models/__init__.py
  backend/models/system_settings.py
Due: run-backend-tests

fix: standardize APIKey imports to use models.auth
  backend/models/__init__.py
  backend/routes/admin.py
  backend/routes/inference.py
  tests/test_auth.py
  tests/test_inference.py
Due: run-backend-tests

fix: standardize User model imports to use models.auth
  backend/core/security.py
  backend/models/__init__.py
  tests/test_admin.py
  tests/test_settings.py
Due: run-backend-tests

fix: standardize model imports and remove duplicate model definitions
  backend/models/__init__.py
  backend/routes/admin.py
  backend/routes/inference.py
Due: run-backend-tests

fix: update UsageRecord.created_at to UsageRecord.timestamp
  backend/routes/admin.py
  backend/routes/inference.py
Due: run-backend-tests

fix: use created_at instead of timestamp in UsageRecord model
  backend/models/usage.py
  backend/routes/admin.py
  backend/routes/inference.py
Due: run-backend-tests

refactor: remove deprecated model files after consolidation into auth.py
  backend/models/settings.py
  backend/models/user.py
Due: run-backend-tests

fix: update admin script imports and add migration to restore created_at column
  backend/alembic/versions/13161fcee912_add_created_at_back_to_usage_records.py
  backend/scripts/create_admin.py
Due: run-backend-tests

fix: update analytics service to use created_at instead of timestamp
  backend/services/analytics.py
Due: run-backend-tests

fix: use API_BASE_URL instead of hardcoded localhost in playground
  frontend/admin-dashboard/src/pages/Playground.tsx
Due: frontend-lint, frontend-tests

fix: add model column to usage_records table
  backend/alembic/versions/13161fcee912_add_created_at_back_to_usage_records.py
Due: run-backend-tests

fix: add all missing columns to usage_records table
  backend/alembic/versions/13161fcee912_add_created_at_back_to_usage_records.py
Due: run-backend-tests

fix: improve environment configuration and database connection handling
  .env.example
  backend/alembic/env.py
  backend/alembic/versions/add_created_at_to_system_settings_new.py
  backend/config.py
  backend/database.py
  backend/models/auth.py
  backend/routes/inference.py
  backend/schemas/admin.py
  scripts/validate_env.py
Due: run-backend-tests

fix: debug setting validation for production deployment
  backend/config.py
  frontend/admin-dashboard/package-lock.json
  frontend/admin-dashboard/package.json
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
Due: run-backend-tests, frontend-lint, frontend-tests

fix: safer database migration for timezone support
  backend/alembic/versions/add_created_at_to_system_settings_new.py
Due: run-backend-tests

fix: properly formatted migration file
  backend/alembic/versions/add_created_at_to_system_settings_new.py
Due: run-backend-tests

feat(docs): refocus developer documentation to be more customer-facing, add comprehensive API docs, improve examples and security info
  frontend/admin-dashboard/src/pages/DeveloperDocs.tsx
Due: frontend-lint, frontend-tests

fix: safer migration with proper column checks and transaction handling
  backend/alembic/versions/add_created_at_to_system_settings_new.py
Due: run-backend-tests

Path conditions:
  run-backend-tests: any of: \.py$
  frontend-lint: any of: ^frontend/admin-dashboard/.*\.(ts|tsx|js|jsx)$
  frontend-tests: any of: ^frontend/admin-dashboard/.*\.(ts|tsx|js|jsx)$
