Repository peer-digital/peerai: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-backend-tests, frontend-lint, frontend-tests

run-backend-tests:
  name: Run Backend Unit Tests
  entry: pytest tests/test_auth.py tests/test_inference.py -v --no-cov
  language: system
  pass_filenames: false
  verbose: true

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend/admin-dashboard && npm run lint:fix'
  language: system
  pass_filenames: false

frontend-tests:
  name: Frontend Unit Tests
  entry: bash -c 'cd frontend/admin-dashboard && npm run test:unit:ci'
  language: system
  pass_filenames: false

reset wizard when doen
  frontend/admin-dashboard/src/pages/DeployAppView.tsx
Due: frontend-lint, frontend-tests

removed hardcoded message
  backend/scripts/apps/rag-chatbot-974.html
  backend/scripts/rag-chatbot-template.html
Due: none

preview slug removed
  backend/scripts/rag-chatbot-template.html
Due: none

Typescript error fix
  frontend/admin-dashboard/src/components/config/EnhancedConfigForm.tsx
Due: frontend-lint, frontend-tests

Streaming for RAG template
  backend/routes/inference.py
  backend/schemas/rag.py
  backend/scripts/rag-chatbot-template.html
  backend/services/model_orchestrator.py
Due: run-backend-tests

Rate limit fixes with improved retry
  backend/services/document_processor.py
Due: run-backend-tests

Performance improvements to RAG flow
  backend/routes/inference.py
  backend/scripts/rag-chatbot-template.html
  backend/services/model_orchestrator.py
Due: run-backend-tests

Streaming for deployed app test
  backend/scripts/rag-chatbot-template.html
Due: none

pulse
  backend/scripts/rag-chatbot-template.html
Due: none

Improved app card
  frontend/admin-dashboard/src/pages/DeployedAppView.tsx
  frontend/admin-dashboard/src/pages/MyApps.tsx
Due: frontend-lint, frontend-tests

CTA for creating new app
  frontend/admin-dashboard/src/pages/MyApps.tsx
Due: frontend-lint, frontend-tests

Library page instruction update
  frontend/admin-dashboard/src/pages/AppLibrary.tsx
Due: frontend-lint, frontend-tests

Landing page wip
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/pages/AppLibrary.tsx
  frontend/admin-dashboard/src/pages/ContentManagerLanding.tsx
  frontend/admin-dashboard/src/pages/MyApps.tsx
Due: frontend-lint, frontend-tests

Various fixes
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/pages/AppLibrary.tsx
  frontend/admin-dashboard/src/pages/ContentManagerLanding.tsx
  frontend/admin-dashboard/src/pages/MyApps.tsx
Due: frontend-lint, frontend-tests

removed redudant toast
  frontend/admin-dashboard/src/pages/MyApps.tsx
Due: frontend-lint, frontend-tests

Role for content mangager added
  backend/alembic/versions/add_content_manager_role.py
  backend/core/roles.py
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/services/auth.service.ts
  frontend/admin-dashboard/src/types/rbac.ts
  frontend/admin-dashboard/src/utils/rbac.ts
Due: run-backend-tests, frontend-lint, frontend-tests

Smoother deploy flow
  backend/scripts/rag-chatbot-template-config.json
  frontend/admin-dashboard/src/components/config/EnhancedConfigForm.tsx
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/pages/DeployAppView.tsx
  frontend/admin-dashboard/src/pages/DeployedAppView.tsx
Due: frontend-lint, frontend-tests

streamlining deploy process
  frontend/admin-dashboard/src/components/config/EnhancedConfigForm.tsx
  frontend/admin-dashboard/src/pages/DeployAppView.tsx
Due: frontend-lint, frontend-tests

History fix for DB changes
  backend/alembic/versions/update_deployed_apps_schema.py
Due: run-backend-tests

redirect when loggin in as content manager
  frontend/admin-dashboard/src/App.tsx
Due: frontend-lint, frontend-tests

URL to register as /content_manager
  backend/main.py
  backend/routes/auth.py
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/contexts/AuthContext.tsx
  frontend/admin-dashboard/src/pages/Login.tsx
  frontend/admin-dashboard/src/services/auth.service.ts
  frontend/admin-dashboard/src/types/auth.ts
Due: run-backend-tests, frontend-lint, frontend-tests

wip
  backend/alembic/versions/20f9d2e4e4e9_merge_heads.py
  backend/alembic/versions/891d11b2a31d_add_icon_type_to_app_templates.py
  backend/models/app_templates.py
  backend/schemas/app_templates.py
  backend/scripts/add_icon_type_column.py
  backend/scripts/seed_app_templates.py
  backend/scripts/seed_test_users.py
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/api/appTemplates.ts
  frontend/admin-dashboard/src/components/ui/AppTemplateIcon.tsx
  frontend/admin-dashboard/src/components/ui/index.ts
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/pages/AppLibrary.tsx
  frontend/admin-dashboard/src/pages/AppTemplatesManagement.tsx
  frontend/admin-dashboard/src/pages/GetStarted.tsx
  frontend/admin-dashboard/src/utils/iconMapping.tsx
Due: run-backend-tests, frontend-lint, frontend-tests

Content manager fix
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/pages/Login.tsx
Due: frontend-lint, frontend-tests

Edited url
  backend/core/roles.py
  backend/routes/auth.py
  backend/scripts/run_role_update.py
  backend/scripts/update_role_enum.sql
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/pages/AppManagerLanding.tsx
  frontend/admin-dashboard/src/pages/Login.tsx
  frontend/admin-dashboard/src/services/auth.service.ts
  frontend/admin-dashboard/src/types/rbac.ts
  frontend/admin-dashboard/src/utils/rbac.ts
Due: run-backend-tests, frontend-lint, frontend-tests

hisrtory
  backend/alembic/versions/rename_role.py
Due: run-backend-tests

Signup for specific role based on URL improvements
  backend/main.py
  backend/routes/auth.py
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/pages/Login.tsx
Due: run-backend-tests, frontend-lint, frontend-tests

Logging system implemented
  LOGGING.md
  frontend/admin-dashboard/src/components/common/ApiKeySelector.tsx
  frontend/admin-dashboard/src/components/config/EnhancedConfigForm.tsx
  frontend/admin-dashboard/src/components/debug/AuthDebug.tsx
  frontend/admin-dashboard/src/components/widgets/FileUploadWidget.tsx
  frontend/admin-dashboard/src/pages/Dashboard.tsx
  frontend/admin-dashboard/src/pages/Playground.tsx
  frontend/admin-dashboard/src/services/auth.service.ts
  frontend/admin-dashboard/src/utils/logger.ts
Due: frontend-lint, frontend-tests

Use mistral medium over mistral large in templates
  backend/scripts/rag-chatbot-template.html
  intelligent-chatbot-template-config.json
Due: none

Improve device preview functionality in app deployment views
  create-linear-issue.js
  frontend/admin-dashboard/src/components/config/FixedRJSFForm.tsx
  frontend/admin-dashboard/src/components/preview/DevicePreview.tsx
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/pages/AppLibrary.tsx
  frontend/admin-dashboard/src/pages/DeployAppView.tsx
  frontend/admin-dashboard/src/pages/DeployedAppView.tsx
  package-lock.json
  package.json
Due: frontend-lint, frontend-tests

Improve header UI with hidden logo and better breadcrumbs
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/components/common/ApiKeySelector.tsx
  frontend/admin-dashboard/src/components/ui/ThemeToggle.tsx
  frontend/admin-dashboard/src/config/navigation.ts
  frontend/admin-dashboard/src/contexts/BreadcrumbContext.tsx
  frontend/admin-dashboard/src/hooks/useBreadcrumbsUpdate.tsx
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/pages/Analytics.tsx
  frontend/admin-dashboard/src/pages/ApiKeys.tsx
  frontend/admin-dashboard/src/pages/AppLibrary.tsx
  frontend/admin-dashboard/src/pages/AppTemplatesManagement.tsx
  frontend/admin-dashboard/src/pages/Dashboard.tsx
  frontend/admin-dashboard/src/pages/DeployAppView.tsx
  frontend/admin-dashboard/src/pages/DeployedAppView.tsx
  frontend/admin-dashboard/src/pages/DeveloperDocs.tsx
  frontend/admin-dashboard/src/pages/GetStarted.tsx
  frontend/admin-dashboard/src/pages/ModelManagement.tsx
  frontend/admin-dashboard/src/pages/MyApps.tsx
  frontend/admin-dashboard/src/pages/Playground.tsx
  frontend/admin-dashboard/src/pages/Settings.tsx
  frontend/admin-dashboard/src/pages/TeamManagement.tsx
  frontend/admin-dashboard/src/pages/Users.tsx
  intelligent-chatbot-template.html
Due: frontend-lint, frontend-tests

UI/UX Improvements and Navigation Consistency
  backend/scripts/rag-chatbot-template.html
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/components/preview/DevicePreview.tsx
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/pages/DeployedAppView.tsx
Due: frontend-lint, frontend-tests

deploy fix
  frontend/admin-dashboard/src/components/config/FixedRJSFForm.tsx
  frontend/admin-dashboard/src/pages/AppTemplatesManagement.tsx
Due: frontend-lint, frontend-tests

Revert "deploy fix"
  frontend/admin-dashboard/src/components/config/FixedRJSFForm.tsx
  frontend/admin-dashboard/src/pages/AppTemplatesManagement.tsx
Due: frontend-lint, frontend-tests

Revert "UI/UX Improvements and Navigation Consistency"
  backend/scripts/rag-chatbot-template.html
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/components/preview/DevicePreview.tsx
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/pages/DeployedAppView.tsx
Due: frontend-lint, frontend-tests

Reapply "deploy fix"
  frontend/admin-dashboard/src/components/config/FixedRJSFForm.tsx
  frontend/admin-dashboard/src/pages/AppTemplatesManagement.tsx
Due: frontend-lint, frontend-tests

Reapply "UI/UX Improvements and Navigation Consistency"
  backend/scripts/rag-chatbot-template.html
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/components/preview/DevicePreview.tsx
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/pages/DeployedAppView.tsx
Due: frontend-lint, frontend-tests

Path conditions:
  run-backend-tests: any of: \.py$
  frontend-lint: any of: ^frontend/admin-dashboard/.*\.(ts|tsx|js|jsx)$
  frontend-tests: any of: ^frontend/admin-dashboard/.*\.(ts|tsx|js|jsx)$
