Repository peer-digital/peerai: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-backend-tests, frontend-lint, frontend-tests

run-backend-tests:
  name: Run Backend Unit Tests
  entry: pytest tests/test_auth.py tests/test_inference.py -v --no-cov
  language: system
  pass_filenames: false
  verbose: true

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend/admin-dashboard && npm run lint:fix'
  language: system
  pass_filenames: false

frontend-tests:
  name: Frontend Unit Tests
  entry: bash -c 'cd frontend/admin-dashboard && npm run test:unit:ci'
  language: system
  pass_filenames: false

Copy update to terms
  frontend/admin-dashboard/src/pages/LegalPages.tsx
Due: frontend-lint, frontend-tests

wip
  backend/alembic/versions/add_dark_icon_url_column.py
  backend/core/security.py
  backend/database.py
  backend/models/app_templates.py
  backend/routes/app_templates.py
  backend/routes/auth.py
  backend/schemas/app_templates.py
  backend/scripts/check_schema.py
  backend/scripts/check_schema_raw.py
  backend/scripts/check_schema_text.py
  backend/scripts/seed_app_templates.py
  backend/scripts/seed_app_templates_fixed.py
  backend/scripts/seed_app_templates_simple.py
  backend/scripts/update_template_icons.py
  frontend/admin-dashboard/src/api/appTemplates.ts
  frontend/admin-dashboard/src/components/common/ApiKeySelector.tsx
  frontend/admin-dashboard/src/config/navigation.ts
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/pages/ApiKeys.tsx
  frontend/admin-dashboard/src/pages/AppLibrary.tsx
  frontend/admin-dashboard/src/pages/AppTemplatesManagement.tsx
Due: run-backend-tests, frontend-lint, frontend-tests

Update auth.py
  backend/routes/auth.py
Due: run-backend-tests

wip
  frontend/admin-dashboard/src/index.css
  frontend/admin-dashboard/src/pages/DeployedAppView.tsx
Due: frontend-lint, frontend-tests

Double scrollbar
  frontend/admin-dashboard/src/pages/DeveloperDocs.tsx
  frontend/admin-dashboard/src/pages/Login.tsx
Due: frontend-lint, frontend-tests

UX fixes
  frontend/admin-dashboard/src/components/ui/Container.tsx
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/pages/DeveloperDocs.tsx
Due: frontend-lint, frontend-tests

/register added
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/pages/Login.tsx
Due: frontend-lint, frontend-tests

Update referral flow to use /register instead of /login
  backend/services/email.py
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/components/ReferralModal.tsx
Due: run-backend-tests, frontend-lint, frontend-tests

Fix API key handling in API Playground and simplify key selection logic
  backend/routes/auth.py
  backend/scripts/create_default_api_keys.py
  frontend/admin-dashboard/src/components/common/ApiKeySelector.tsx
  frontend/admin-dashboard/src/pages/Playground.tsx
  frontend/admin-dashboard/src/services/auth.service.ts
  frontend/admin-dashboard/src/types/auth.ts
Due: run-backend-tests, frontend-lint, frontend-tests

Merge branch 'main' into apps
  backend/services/email.py
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/components/ReferralModal.tsx
  frontend/admin-dashboard/src/components/ui/Container.tsx
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/pages/DeveloperDocs.tsx
  frontend/admin-dashboard/src/pages/LegalPages.tsx
  frontend/admin-dashboard/src/pages/Login.tsx
  frontend/admin-dashboard/src/types/auth.ts
Due: run-backend-tests, frontend-lint, frontend-tests

Remove duplicate page titles from all pages to improve UI consistency
  frontend/admin-dashboard/src/pages/ApiKeys.tsx
  frontend/admin-dashboard/src/pages/AppLibrary.tsx
  frontend/admin-dashboard/src/pages/AppTemplatesManagement.tsx
  frontend/admin-dashboard/src/pages/Dashboard.tsx
  frontend/admin-dashboard/src/pages/DeveloperDocs.tsx
  frontend/admin-dashboard/src/pages/ModelManagement.tsx
  frontend/admin-dashboard/src/pages/MyApps.tsx
  frontend/admin-dashboard/src/pages/Playground.tsx
  frontend/admin-dashboard/src/pages/TeamManagement.tsx
  frontend/admin-dashboard/src/pages/Users.tsx
Due: frontend-lint, frontend-tests

Unify styling across all pages with consistent components and spacing
  frontend/admin-dashboard/src/components/ui/FilterBar.tsx
  frontend/admin-dashboard/src/components/ui/PageContainer.tsx
  frontend/admin-dashboard/src/components/ui/SearchField.tsx
  frontend/admin-dashboard/src/components/ui/index.ts
  frontend/admin-dashboard/src/pages/AppLibrary.tsx
  frontend/admin-dashboard/src/pages/Dashboard.tsx
  frontend/admin-dashboard/src/pages/DeveloperDocs.tsx
  frontend/admin-dashboard/src/pages/ModelManagement.tsx
  frontend/admin-dashboard/src/pages/TeamManagement.tsx
  frontend/admin-dashboard/src/pages/Users.tsx
Due: frontend-lint, frontend-tests

Fix JSX closing tag issues in Dashboard and ModelManagement pages
  frontend/admin-dashboard/src/pages/Dashboard.tsx
  frontend/admin-dashboard/src/pages/ModelManagement.tsx
Due: frontend-lint, frontend-tests

Fix JSX closing tag issues in all pages
  frontend/admin-dashboard/src/pages/ApiKeys.tsx
  frontend/admin-dashboard/src/pages/AppLibrary.tsx
  frontend/admin-dashboard/src/pages/AppTemplatesManagement.tsx
  frontend/admin-dashboard/src/pages/DeveloperDocs.tsx
  frontend/admin-dashboard/src/pages/Playground.tsx
  frontend/admin-dashboard/src/pages/Users.tsx
Due: frontend-lint, frontend-tests

Add missing clearFilters function to ModelManagement component
  frontend/admin-dashboard/src/pages/ModelManagement.tsx
Due: frontend-lint, frontend-tests

Make search and filter components more compact with consistent styling
  frontend/admin-dashboard/src/components/ui/FilterBar.tsx
  frontend/admin-dashboard/src/components/ui/SearchField.tsx
  frontend/admin-dashboard/src/pages/ModelManagement.tsx
Due: frontend-lint, frontend-tests

Remove redundant labels from search fields
  frontend/admin-dashboard/src/pages/ModelManagement.tsx
  frontend/admin-dashboard/src/pages/MyApps.tsx
Due: frontend-lint, frontend-tests

styling
  frontend/admin-dashboard/src/components/ui/AnnouncementBanner.tsx
  frontend/admin-dashboard/src/components/ui/PageTitle.tsx
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/theme/theme.ts
Due: frontend-lint, frontend-tests

Sticky banner added to login/register page
  frontend/admin-dashboard/src/pages/Login.tsx
Due: frontend-lint, frontend-tests

Hide banner on /login /register on mobile due to space issues
  frontend/admin-dashboard/src/pages/Login.tsx
Due: frontend-lint, frontend-tests

Sticky banner logged out copy
  frontend/admin-dashboard/src/pages/Login.tsx
Due: frontend-lint, frontend-tests

env update to get correct baseurl for emails
  backend/config.py
  backend/services/email.py
Due: run-backend-tests

Url for emails fix
  backend/routes/auth.py
  backend/services/email.py
Due: run-backend-tests

Fixes for reffaral & verification endpoints
  backend/main.py
  backend/routes/auth.py
  backend/services/email.py
  frontend/admin-dashboard/src/pages/EmailVerification.tsx
Due: run-backend-tests, frontend-lint, frontend-tests

Merge fixes and logging reductions
  backend/config.py
  backend/main.py
  backend/services/model_orchestrator.py
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/api/config.ts
  frontend/admin-dashboard/src/api/deployedApps.ts
  frontend/admin-dashboard/src/contexts/AuthContext.tsx
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/pages/Login.tsx
  frontend/admin-dashboard/src/services/auth.service.ts
  update_app_urls.py
Due: run-backend-tests, frontend-lint, frontend-tests

default api key ts error fix
  frontend/admin-dashboard/src/pages/Playground.tsx
  frontend/admin-dashboard/src/services/auth.service.ts
Due: frontend-lint, frontend-tests

FE URL
  backend/migrations/versions/add_default_api_key_id.py
  scripts/deploy.sh
Due: run-backend-tests

Update deploy.sh
  scripts/deploy.sh
Due: none

RAG WIP
  backend/alembic/versions/add_rag_tables.py
  backend/main.py
  backend/models/__init__.py
  backend/models/rag.py
  backend/requirements.txt
  backend/routes/inference.py
  backend/routes/rag.py
  backend/schemas/rag.py
  backend/scripts/intelligent-chatbot-template-config.json
  backend/scripts/intelligent-chatbot-template.html
  backend/scripts/simple-chatbot-template.html
  backend/services/rag_service.py
  frontend/admin-dashboard/src/components/rag/DocumentUploader.tsx
  frontend/admin-dashboard/src/config.ts
  frontend/admin-dashboard/src/pages/DeployedAppView.tsx
  frontend/admin-dashboard/vite.config.ts
Due: run-backend-tests, frontend-lint, frontend-tests

PATH Fixes
  backend/config.py
  backend/main.py
  backend/routes/public_apps.py
  backend/scripts/intelligent-chatbot-template.html
  frontend/admin-dashboard/src/api/config.ts
  frontend/admin-dashboard/src/config.ts
  frontend/admin-dashboard/src/data/examples/chatAppExample.ts
  frontend/admin-dashboard/src/data/examples/codeExamples.ts
Due: run-backend-tests, frontend-lint, frontend-tests

wip
  .clj-kondo/.cache/v1/lock
  .lsp/.cache/db.transit.json
  RAG_CHATBOT_TEMPLATE.md
  backend/alembic/versions/add_document_tables.py
  backend/config.py
  backend/main.py
  backend/models/__init__.py
  backend/models/deployed_apps.py
  backend/models/documents.py
  backend/routes/documents.py
  backend/routes/inference.py
  backend/routes/public_apps.py
  backend/schemas/documents.py
  backend/schemas/rag.py
  backend/scripts/check_rag_template.py
  backend/scripts/create_document_tables.sql
  backend/scripts/rag-chatbot-admin.html
  backend/scripts/rag-chatbot-template-config.json
  backend/scripts/rag-chatbot-template.html
  backend/scripts/seed_app_templates.py
  backend/scripts/seed_rag_chatbot_template.py
  backend/services/document_processor.py
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/api/appTemplates.ts
  frontend/admin-dashboard/src/components/config/EnhancedConfigForm.tsx
  frontend/admin-dashboard/src/components/widgets/FileUploadWidget.tsx
  frontend/admin-dashboard/src/components/widgets/index.ts
  frontend/admin-dashboard/src/pages/AppLibrary.tsx
  frontend/admin-dashboard/src/pages/AppTemplatesManagement.tsx
  frontend/admin-dashboard/src/pages/TestConfigForm.tsx
Due: run-backend-tests, frontend-lint, frontend-tests

delete templates script
  backend/scripts/check_templates.py
  backend/scripts/delete_all_templates.py
Due: run-backend-tests

slug wip
  backend/routes/inference.py
  backend/routes/public_apps.py
  backend/schemas/rag.py
  direct-access.html
  rag-chatbot.html
Due: run-backend-tests

wip
  apps/rag-chatbot-340.html
  apps/rag-chatbot-486.html
  apps/rag-chatbot-985.html
  backend/routes/documents.py
  backend/routes/inference.py
  backend/schemas/rag.py
  backend/scripts/rag-chatbot-admin.html
  backend/scripts/rag-chatbot-template.html
  backend/scripts/update_deployed_apps.py
  backend/scripts/update_rag_templates.py
  backend/services/document_processor.py
  fix_app_documents.sql
  revert_to_app_id.sql
  revert_to_app_id_fixed.sql
  update_app_id.sql
  update_app_id_fixed.sql
Due: run-backend-tests

wip
  backend/scripts/rag-chatbot-template.html
Due: none

embedding fix
  backend/services/document_processor.py
Due: run-backend-tests

file upload history
  frontend/admin-dashboard/src/components/widgets/FileUploadWidget.tsx
Due: frontend-lint, frontend-tests

Handling larger files
  backend/main.py
  backend/routes/documents.py
  backend/services/document_processor.py
  requirements.txt
Due: run-backend-tests

default num of docs 3
  backend/routes/inference.py
Due: run-backend-tests

Model orchestrator now handles embeddings
  backend/main.py
  backend/routes/embeddings.py
  backend/services/document_processor.py
  backend/services/model_orchestrator.py
Due: run-backend-tests

Path conditions:
  run-backend-tests: any of: \.py$
  frontend-lint: any of: ^frontend/admin-dashboard/.*\.(ts|tsx|js|jsx)$
  frontend-tests: any of: ^frontend/admin-dashboard/.*\.(ts|tsx|js|jsx)$
