Repository peer-digital/peerai: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-backend-tests, frontend-lint, frontend-tests

.pre-commit-config.yaml:

repos:
  # black - Python code formatter
  - repo: https://github.com/psf/black  # @note: Python code formatter - do not change URL
    rev: 23.9.0  # @note: Black version - update with caution
    hooks:
      - id: black
        language_version: python3.11

  # ruff - Fast Python linter
  - repo: https://github.com/astral-sh/ruff-pre-commit  # @note: Fast Python linter - do not change URL
    rev: v0.1.0  # @note: Ruff version - update with caution
    hooks:
      - id: ruff
        args: [--fix, --exit-zero]

  # Local hooks
  - repo: local
    hooks:
      # Run backend unit tests before commit
      - id: run-backend-tests
        name: Run Backend Unit Tests
        entry: pytest tests/test_auth.py tests/test_inference.py -v --no-cov
        language: system
        types: [python]
        pass_filenames: false
        verbose: true
        
      # Run frontend linting
      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend/admin-dashboard && npm run lint:fix'
        language: system
        files: ^frontend/admin-dashboard/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        
      # Run frontend unit tests
      - id: frontend-tests
        name: Frontend Unit Tests
        entry: bash -c 'cd frontend/admin-dashboard && npm run test:unit:ci'
        language: system
        files: ^frontend/admin-dashboard/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

fix: Update validate_token endpoint to return role and fix role mapping in frontend
  README.md
  backend/__init__.py
  backend/alembic/env.py
  backend/alembic/versions/5bded3ce5e9e_add_rbac_implementation.py
  backend/alembic/versions/85766947a5e5_update_role_enum_values.py
  backend/alembic/versions/add_created_at_to_system_settings_new.py
  backend/build.sh
  backend/config.py
  backend/core/__init__.py
  backend/core/auth.py
  backend/core/roles.py
  backend/main.py
  backend/models/auth.py
  backend/routes/__init__.py
  backend/routes/auth.py
  backend/routes/rbac.py
  backend/schemas/rbac.py
  backend/scripts/create_admin.py
  backend/scripts/create_test_users.py
  backend/services/rbac.py
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/api/client.ts
  frontend/admin-dashboard/src/api/config.ts
  frontend/admin-dashboard/src/api/rbac.ts
  frontend/admin-dashboard/src/components/PermissionGuard.tsx
  frontend/admin-dashboard/src/contexts/AuthContext.tsx
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/pages/Login.tsx
  frontend/admin-dashboard/src/pages/NotFound.tsx
  frontend/admin-dashboard/src/pages/TeamManagement.tsx
  frontend/admin-dashboard/src/pages/Unauthorized.tsx
  frontend/admin-dashboard/src/pages/UserManagement.tsx
  frontend/admin-dashboard/src/services/auth.service.ts
  frontend/admin-dashboard/src/types/auth.ts
  frontend/admin-dashboard/src/types/rbac.ts
  server_dump.backup
  tests/test_rbac.py
Due: run-backend-tests, frontend-lint, frontend-tests

fix: update RBAC to allow super admin access to settings page - Update backend to use permission-based checks, remove hardcoded roles, update PermissionGuard and auth service
  backend/core/roles.py
  backend/routes/admin.py
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/components/PermissionGuard.tsx
  frontend/admin-dashboard/src/services/auth.service.ts
Due: run-backend-tests, frontend-lint, frontend-tests

fix: restrict API documentation access to authorized users only - Add VIEW_API_DOCS permission, protect OpenAPI schema endpoint, update frontend to hide API reference from unauthorized users
  backend/core/roles.py
  backend/main.py
  frontend/admin-dashboard/src/pages/DeveloperDocs.tsx
  frontend/admin-dashboard/src/types/rbac.ts
Due: run-backend-tests, frontend-lint, frontend-tests

fix: frontend TypeScript errors and missing components
  frontend/admin-dashboard/src/pages/NotFound.tsx
  frontend/admin-dashboard/src/utils/rbac.ts
Due: frontend-lint, frontend-tests

fix: update Permission import path in ProtectedRoute
  frontend/admin-dashboard/src/components/ProtectedRoute.tsx
Due: frontend-lint, frontend-tests

Implement RBAC system with team management and role-based permissions
  backend/alembic/env.py
  backend/alembic/versions/13161fcee912_add_created_at_back_to_usage_records.py
  backend/alembic/versions/5bded3ce5e9e_add_rbac_implementation.py
  backend/alembic/versions/85766947a5e5_update_role_enum_values.py
  backend/alembic/versions/add_created_at_to_system_settings_new.py
  backend/alembic/versions/f8243840b28d_add_updated_by_to_system_settings.py
  backend/config.py
  backend/core/auth.py
  backend/core/roles.py
  backend/core/security.py
  backend/database.py
  backend/main.py
  backend/models/auth.py
  backend/models/base.py
  backend/models/system_settings.py
  backend/routes/auth.py
  backend/routes/inference.py
  backend/routes/rbac.py
  backend/schemas/rbac.py
  backend/scripts/check_users.py
  backend/scripts/create_admin.py
  backend/scripts/create_test_users.py
  backend/services/analytics.py
  backend/services/rbac.py
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/components/DataGrid/index.tsx
  frontend/admin-dashboard/src/pages/Analytics.tsx
  frontend/admin-dashboard/src/pages/Dashboard.tsx
  frontend/admin-dashboard/src/pages/DeveloperDocs.tsx
  frontend/admin-dashboard/src/services/auth.service.ts
  frontend/admin-dashboard/src/types/swagger-ui-react.d.ts
  scripts/validate_env.py
  tests/conftest.py
  tests/test_auth.py
  tests/test_rbac.py
  tests/test_settings.py
Due: run-backend-tests, frontend-lint, frontend-tests

Fix partial_update_settings function to correctly handle dictionary inputs and return expected response format
  backend/routes/admin.py
Due: run-backend-tests

Fix backend tests: Remove outdated tests and add basic functionality tests
  tests/README.md
  tests/test_admin.py
  tests/test_api_integration.py
  tests/test_basic_functionality.py
  tests/test_inference.py
  tests/test_rbac.py
  tests/test_settings.py
Due: run-backend-tests

Enhance frontend UI for better DX: Improve theme, layout, add reusable components, UI polish, and responsive design
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/components/ui/Button.tsx
  frontend/admin-dashboard/src/components/ui/Card.tsx
  frontend/admin-dashboard/src/components/ui/Container.tsx
  frontend/admin-dashboard/src/components/ui/EmptyState.tsx
  frontend/admin-dashboard/src/components/ui/LoadingOverlay.tsx
  frontend/admin-dashboard/src/components/ui/PageHeader.tsx
  frontend/admin-dashboard/src/components/ui/ResponsiveGrid.tsx
  frontend/admin-dashboard/src/components/ui/StatusBadge.tsx
  frontend/admin-dashboard/src/components/ui/Toast.tsx
  frontend/admin-dashboard/src/components/ui/index.ts
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/theme/theme.ts
Due: frontend-lint, frontend-tests

Update admin dashboard UI components and add theme functionality
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/components/ui/Card.tsx
  frontend/admin-dashboard/src/components/ui/Chart.tsx
  frontend/admin-dashboard/src/components/ui/Container.tsx
  frontend/admin-dashboard/src/components/ui/Form.tsx
  frontend/admin-dashboard/src/components/ui/ResponsiveGrid.tsx
  frontend/admin-dashboard/src/components/ui/ThemeToggle.tsx
  frontend/admin-dashboard/src/components/ui/index.ts
  frontend/admin-dashboard/src/contexts/ThemeContext.tsx
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/theme/theme.ts
Due: frontend-lint, frontend-tests

Fix UI issues: remove PeerAI text, improve theme toggle, enhance loading states, optimize page layouts, and improve screen real estate usage
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/components/ui/Card.tsx
  frontend/admin-dashboard/src/components/ui/Container.tsx
  frontend/admin-dashboard/src/components/ui/EnhancedLoadingOverlay.tsx
  frontend/admin-dashboard/src/components/ui/PageLoader.tsx
  frontend/admin-dashboard/src/components/ui/index.ts
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
Due: frontend-lint, frontend-tests

Fix admin dashboard issues and update UI components
  backend/routes/admin.py
  frontend/admin-dashboard/index.html
  frontend/admin-dashboard/public/assets/icons/android-chrome-192x192.png
  frontend/admin-dashboard/public/assets/icons/android-chrome-512x512.png
  frontend/admin-dashboard/public/assets/icons/android-chrome-maskable-192x192.png
  frontend/admin-dashboard/public/assets/icons/android-chrome-maskable-512x512.png
  frontend/admin-dashboard/public/assets/icons/apple-touch-icon-152x152.png
  frontend/admin-dashboard/public/assets/icons/apple-touch-icon-167x167.png
  frontend/admin-dashboard/public/assets/icons/apple-touch-icon.png
  frontend/admin-dashboard/public/assets/icons/favicon-16x16.png
  frontend/admin-dashboard/public/assets/icons/favicon-32x32.png
  frontend/admin-dashboard/public/assets/icons/favicon-48x48.png
  frontend/admin-dashboard/public/assets/icons/safari-pinned-tab.png
  frontend/admin-dashboard/public/assets/logo.svg
  frontend/admin-dashboard/public/assets/logo_neg.svg
  frontend/admin-dashboard/public/manifest.json
  frontend/admin-dashboard/src/components/ui/LoadingOverlay.tsx
  frontend/admin-dashboard/src/pages/Analytics.tsx
  frontend/admin-dashboard/src/pages/Dashboard.tsx
  icons/android-chrome-192x192.png
  icons/android-chrome-512x512.png
  icons/android-chrome-maskable-192x192.png
  icons/android-chrome-maskable-512x512.png
  icons/apple-touch-icon-152x152.png
  icons/apple-touch-icon-167x167.png
  icons/apple-touch-icon.png
  icons/favicon-16x16.png
  icons/favicon-32x32.png
  icons/favicon-48x48.png
  icons/safari-pinned-tab.png
  logo.svg
  logo_neg.svg
Due: run-backend-tests, frontend-lint, frontend-tests

Commit all changes to main branch
  .env.example
  README.md
  backend/alembic/versions/fix_model_registry_migration.py
  backend/alembic/versions/model_registry_migration.py
  backend/check_alembic.py
  backend/check_models.py
  backend/check_tables.py
  backend/create_model_tables.py
  backend/models/__init__.py
  backend/models/auth.py
  backend/models/models.py
  backend/models/system_settings.py
  backend/routes/admin.py
  backend/routes/auth.py
  backend/routes/inference.py
  backend/services/model_orchestrator.py
  frontend/admin-dashboard/package-lock.json
  frontend/admin-dashboard/package.json
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/config.ts
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/pages/DeveloperDocs.tsx
  frontend/admin-dashboard/src/pages/GetStarted.tsx
  frontend/admin-dashboard/src/pages/Login.tsx
  frontend/admin-dashboard/src/pages/Playground.tsx
  orchestrator/main.py
  scripts/export_pr.py
  scripts/export_pr.sh
  tests/test_auth.py
  tests/test_db_integration.py
Due: run-backend-tests, frontend-lint, frontend-tests

Fix Alembic migration chain by adding missing revision and merge migration
  backend/alembic/versions/775fcc5fd19a_fix_missing_revision.py
  backend/alembic/versions/b05db0982fa5_merge_heads.py
Due: run-backend-tests

Fix Alembic migration SQL execution to properly fetch results
  backend/alembic/versions/fix_model_registry_migration.py
  backend/alembic/versions/model_registry_migration.py
Due: run-backend-tests

Fix Alembic migrations by using hardcoded IDs instead of SELECT queries
  backend/alembic/versions/fix_model_registry_migration.py
  backend/alembic/versions/model_registry_migration.py
Due: run-backend-tests

Fix duplicate table error in Alembic migration by checking if tables exist before creating them
  backend/alembic/versions/fix_model_registry_migration.py
Due: run-backend-tests

Refactor permission checks to use has_permission() consistently instead of direct role checks
  backend/main.py
  backend/routes/admin.py
  backend/routes/admin_models.py
  backend/schemas/admin_models.py
  backend/services/rbac.py
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/api/client.ts
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/pages/ModelManagement.tsx
Due: run-backend-tests, frontend-lint, frontend-tests

Fix GUI on models page by replacing DataGrid with native Material-UI Table
  frontend/admin-dashboard/src/pages/ModelManagement.tsx
Due: frontend-lint, frontend-tests

Update database configuration to use Render hosted PostgreSQL
  .env.example
  backend/.env.example
  deployment/bahnhof.service
Due: none

Fix Mistral Saba model 422 error by excluding description field from API requests
  backend/routes/inference.py
  backend/services/model_orchestrator.py
Due: run-backend-tests

Added Login + updated users to show in dashboard
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/contexts/AuthContext.tsx
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/pages/Login.tsx
  frontend/admin-dashboard/src/pages/Users.tsx
  frontend/admin-dashboard/src/services/auth.service.ts
  frontend/admin-dashboard/src/types/auth.ts
Due: frontend-lint, frontend-tests

Further fixes to make sure user dashboard syncs correctly
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/pages/Users.tsx
Due: frontend-lint, frontend-tests

Added tokenfield to users
  backend/alembic/versions/000f1cba6e74_merge_heads.py
  backend/alembic/versions/4ed7edfa6a16_add_token_limit_to_users.py
  backend/models/auth.py
  backend/routes/admin.py
  backend/routes/inference.py
  backend/schemas/admin.py
  backend/schemas/rbac.py
  frontend/admin-dashboard/src/pages/Dashboard.tsx
  frontend/admin-dashboard/src/pages/Users.tsx
  frontend/admin-dashboard/src/types/rbac.ts
Due: run-backend-tests, frontend-lint, frontend-tests

Token limit 1.0
  frontend/admin-dashboard/src/components/PermissionGuard.tsx
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/pages/Dashboard.tsx
Due: frontend-lint, frontend-tests

Token usage warnings for dashboard
  backend/alembic/versions/160b9131b424_add_token_limit_to_users.py
  frontend/admin-dashboard/src/pages/Dashboard.tsx
  frontend/admin-dashboard/src/services/auth.service.ts
  frontend/admin-dashboard/src/types/auth.ts
Due: run-backend-tests, frontend-lint, frontend-tests

wip
  backend/alembic/versions/9b359a119dfc_add_referrals_table.py
  backend/main.py
  backend/models/__init__.py
  backend/models/referral.py
  backend/routes/referral.py
  backend/schemas/referral.py
  backend/services/email.py
  backend/services/referral.py
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/components/PermissionGuard.tsx
  frontend/admin-dashboard/src/config/navigation.ts
  frontend/admin-dashboard/src/contexts/SnackbarContext.tsx
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/pages/Referrals.tsx
  frontend/admin-dashboard/src/services/api.ts
  frontend/admin-dashboard/src/types/rbac.ts
Due: run-backend-tests, frontend-lint, frontend-tests

wip
  backend/models/referral.py
  backend/services/referral.py
Due: run-backend-tests

referral WIP
  backend/routes/auth.py
  frontend/admin-dashboard/src/pages/Login.tsx
  frontend/admin-dashboard/src/types/auth.ts
Due: run-backend-tests, frontend-lint, frontend-tests

Token limit tracker fix
  backend/routes/auth.py
  frontend/admin-dashboard/src/services/auth.service.ts
Due: run-backend-tests, frontend-lint, frontend-tests

refer a friend CTA when reaching token limit
  frontend/admin-dashboard/src/pages/Dashboard.tsx
Due: frontend-lint, frontend-tests

Referral sticky banner
  frontend/admin-dashboard/src/pages/Dashboard.tsx
Due: frontend-lint, frontend-tests

code update
  backend/services/referral.py
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/components/ReferralModal.tsx
  frontend/admin-dashboard/src/config/navigation.ts
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/pages/Referrals.tsx
  frontend/admin-dashboard/src/services/api.ts
Due: run-backend-tests, frontend-lint, frontend-tests

Referral modal added
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/pages/Dashboard.tsx
Due: frontend-lint, frontend-tests

Code referrals
  backend/routes/auth.py
  backend/routes/referral.py
  backend/services/email.py
  backend/services/referral.py
  frontend/admin-dashboard/package-lock.json
  frontend/admin-dashboard/package.json
  frontend/admin-dashboard/src/hooks/useDebounce.ts
  frontend/admin-dashboard/src/pages/Login.tsx
  frontend/admin-dashboard/src/pages/SignUp.tsx
  frontend/admin-dashboard/src/pages/Users.tsx
Due: run-backend-tests, frontend-lint, frontend-tests

Temp remove of email referral
  backend/routes/referral.py
  backend/services/referral.py
  frontend/admin-dashboard/package-lock.json
  frontend/admin-dashboard/package.json
  frontend/admin-dashboard/src/components/ReferralModal.tsx
Due: run-backend-tests, frontend-lint, frontend-tests

User dashboard update
  backend/routes/admin.py
  backend/schemas/admin.py
  frontend/admin-dashboard/src/pages/Users.tsx
Due: run-backend-tests, frontend-lint, frontend-tests

url with referral code fix
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/components/ReferralModal.tsx
  frontend/admin-dashboard/src/pages/Login.tsx
  frontend/admin-dashboard/src/pages/SignUp.tsx
Due: frontend-lint, frontend-tests

Referral email
  backend/routes/referral.py
  backend/services/email.py
  frontend/admin-dashboard/src/components/ReferralModal.tsx
Due: run-backend-tests, frontend-lint, frontend-tests

fix: add migration to fix referral system revision chain
  backend/alembic/versions/fix_referral_migration.py
Due: run-backend-tests
