Repository peer-digital/peerai: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-backend-tests, frontend-lint, frontend-tests

.pre-commit-config.yaml:

repos:
  # black - Python code formatter
  - repo: https://github.com/psf/black  # @note: Python code formatter - do not change URL
    rev: 23.9.0  # @note: Black version - update with caution
    hooks:
      - id: black
        language_version: python3.11

  # ruff - Fast Python linter
  - repo: https://github.com/astral-sh/ruff-pre-commit  # @note: Fast Python linter - do not change URL
    rev: v0.1.0  # @note: Ruff version - update with caution
    hooks:
      - id: ruff
        args: [--fix, --exit-zero]

  # Local hooks
  - repo: local
    hooks:
      # Run backend unit tests before commit
      - id: run-backend-tests
        name: Run Backend Unit Tests
        entry: pytest tests/test_auth.py tests/test_inference.py -v --no-cov
        language: system
        types: [python]
        pass_filenames: false
        verbose: true
        
      # Run frontend linting
      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend/admin-dashboard && npm run lint:fix'
        language: system
        files: ^frontend/admin-dashboard/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        
      # Run frontend unit tests
      - id: frontend-tests
        name: Frontend Unit Tests
        entry: bash -c 'cd frontend/admin-dashboard && npm run test:unit:ci'
        language: system
        files: ^frontend/admin-dashboard/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

fix: remove inline comments from check_deployment.sh
  scripts/check_deployment.sh
Due: none

Update main.py
  backend/main.py
Due: run-backend-tests

feat: add Nginx configuration and reload step to deployment workflow
  .github/workflows/deploy.yml
Due: none

fix: update Nginx configuration to properly serve frontend and backend
  .github/workflows/deploy.yml
Due: none

fix: update Nginx configuration to handle /api/v1/ routes and add CORS headers
  .github/workflows/deploy.yml
Due: none

fix: update Nginx configuration to handle /api/v1/ routes correctly
  .github/workflows/deploy.yml
Due: none

fix: remove duplicate prefix from auth router
  backend/routes/auth.py
Due: run-backend-tests

routes
  .env.example
  backend/main.py
  backend/routes/auth.py
  scripts/export_pr.sh
Due: run-backend-tests

fix: add project root to PYTHONPATH for backend module imports
  scripts/dev.sh
Due: none

refactor: remove Nginx and serve frontend through FastAPI backend - Add static file serving, catch-all route, remove Nginx config
  .github/workflows/deploy.yml
  backend/main.py
Due: run-backend-tests

Revert "refactor: remove Nginx and serve frontend through FastAPI backend - Add static file serving, catch-all route, remove Nginx config"
  .github/workflows/deploy.yml
  backend/main.py
Due: run-backend-tests

fix: update login endpoint paths to be consistent with router mounting
  backend/core/auth.py
  backend/routes/auth.py
  backend/services/email.py
Due: run-backend-tests

fix: Update relative imports to absolute imports in route modules to resolve 404 errors
  backend/routes/admin.py
  backend/routes/auth.py
  backend/routes/inference.py
  backend/routes/rbac.py
  backend/routes/referral.py
Due: run-backend-tests

fix: Correct admin router prefix to prevent routing conflicts
  backend/main.py
Due: run-backend-tests

test: Add direct login route to main.py for diagnostic testing
  backend/main.py
Due: run-backend-tests

test: Add more debug logging for settings
  backend/main.py
Due: run-backend-tests

fix: uncomment auth router and remove direct login route
  backend/main.py
Due: run-backend-tests

fix: update database configuration and RBAC implementation - Update database URL in env.py - Fix RBAC migration file - Update gitignore patterns
  .gitignore
  backend/alembic/env.py
  backend/alembic/versions/5bded3ce5e9e_add_rbac_implementation.py
Due: run-backend-tests

WIP
  .gitignore
  backend/alembic.ini
  backend/main.py
  backend/routes/admin.py
  backend/routes/auth.py
  backend/routes/referral.py
Due: run-backend-tests

fix: Correct admin user API paths in frontend
  frontend/admin-dashboard/src/pages/Users.tsx
Due: frontend-lint, frontend-tests

fix: Remove /api/v1 prefix from baseURL in API config
  frontend/admin-dashboard/src/api/config.ts
Due: frontend-lint, frontend-tests

lofin revert
  frontend/admin-dashboard/src/api/config.ts
Due: frontend-lint, frontend-tests

added back prefix
  frontend/admin-dashboard/src/api/config.ts
Due: frontend-lint, frontend-tests

key status fix
  frontend/admin-dashboard/src/pages/ApiKeys.tsx
Due: frontend-lint, frontend-tests

Models script
  backend/scripts/seed_mistral_models.py
Due: run-backend-tests

Update seed_mistral_models.py
  backend/scripts/seed_mistral_models.py
Due: run-backend-tests

deoloy run
  scripts/deploy.sh
Due: none

LLM apis exception fix
  backend/main.py
Due: run-backend-tests

api internal prefix
  scripts/deploy.sh
Due: none

UI Improvements: Mobile Optimization and Cleanup
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/components/ui/Card.tsx
  frontend/admin-dashboard/src/components/ui/MobileLoadingIndicator.tsx
  frontend/admin-dashboard/src/components/ui/index.ts
  frontend/admin-dashboard/src/contexts/AuthContext.tsx
  frontend/admin-dashboard/src/layouts/DashboardLayout.tsx
  frontend/admin-dashboard/src/pages/ApiKeys.tsx
  frontend/admin-dashboard/src/pages/DeveloperDocs.tsx
  frontend/admin-dashboard/src/pages/Playground.tsx
  frontend/admin-dashboard/src/pages/UserManagement.tsx
Due: frontend-lint, frontend-tests

fixed the TypeScript errors that were causing the build to fail
  frontend/admin-dashboard/src/pages/DeveloperDocs.tsx
  frontend/admin-dashboard/src/pages/Playground.tsx
Due: frontend-lint, frontend-tests

Fixed the Copy Button in the New Key Dialog
  frontend/admin-dashboard/src/pages/ApiKeys.tsx
Due: frontend-lint, frontend-tests

UI Improvements: Copy button and freeeze bug
  frontend/admin-dashboard/src/index.css
  frontend/admin-dashboard/src/pages/ApiKeys.tsx
  frontend/admin-dashboard/src/pages/DeveloperDocs.tsx
  frontend/admin-dashboard/src/pages/Playground.tsx
Due: frontend-lint, frontend-tests

feat: Reset Alembic history and generate initial migration
  backend/alembic/versions/000f1cba6e74_merge_heads.py
  backend/alembic/versions/13161fcee912_add_created_at_back_to_usage_records.py
  backend/alembic/versions/160b9131b424_add_token_limit_to_users.py
  backend/alembic/versions/16e5e60f9836_add_email_verification_fields.py
  backend/alembic/versions/20250222_004903_base_revision.py
  backend/alembic/versions/4ed7edfa6a16_add_token_limit_to_users.py
  backend/alembic/versions/5bded3ce5e9e_add_rbac_implementation.py
  backend/alembic/versions/6f0a3ecedcec_initial_schema_based_on_current_models.py
  backend/alembic/versions/775fcc5fd19a_fix_missing_revision.py
  backend/alembic/versions/85766947a5e5_update_role_enum_values.py
  backend/alembic/versions/9597eef8850a_add_system_settings_table.py
  backend/alembic/versions/add_created_at_to_system_settings_new.py
  backend/alembic/versions/b05db0982fa5_merge_heads.py
  backend/alembic/versions/f8243840b28d_add_updated_by_to_system_settings.py
  backend/alembic/versions/fix_model_registry_migration.py
  backend/alembic/versions/fix_referral_system_migration.py
  backend/alembic/versions/model_registry_migration.py
Due: run-backend-tests

Revert "feat: Reset Alembic history and generate initial migration"
  backend/alembic/versions/000f1cba6e74_merge_heads.py
  backend/alembic/versions/13161fcee912_add_created_at_back_to_usage_records.py
  backend/alembic/versions/160b9131b424_add_token_limit_to_users.py
  backend/alembic/versions/16e5e60f9836_add_email_verification_fields.py
  backend/alembic/versions/20250222_004903_base_revision.py
  backend/alembic/versions/4ed7edfa6a16_add_token_limit_to_users.py
  backend/alembic/versions/5bded3ce5e9e_add_rbac_implementation.py
  backend/alembic/versions/75727fa631b4_update_system_settings_model.py
  backend/alembic/versions/775fcc5fd19a_fix_missing_revision.py
  backend/alembic/versions/85766947a5e5_update_role_enum_values.py
  backend/alembic/versions/9597eef8850a_add_system_settings_table.py
  backend/alembic/versions/add_created_at_to_system_settings_new.py
  backend/alembic/versions/b05db0982fa5_merge_heads.py
  backend/alembic/versions/f8243840b28d_add_updated_by_to_system_settings.py
  backend/alembic/versions/fix_model_registry_migration.py
  backend/alembic/versions/fix_referral_system_migration.py
  backend/alembic/versions/model_registry_migration.py
Due: run-backend-tests

Db sync script
  README.md
  backend/alembic/README.md
  backend/scripts/sync_database.py
  backend/scripts/sync_db.sh
Due: run-backend-tests

Update LLM API orchestration schema to match Mistral format
  backend/models/auth.py
  backend/models/system_settings.py
  backend/routes/inference.py
  backend/schemas/admin.py
  backend/services/model_orchestrator.py
  frontend/admin-dashboard/src/components/playground/AdvancedParameters.tsx
  frontend/admin-dashboard/src/pages/Playground.tsx
Due: run-backend-tests, frontend-lint, frontend-tests

Fix TypeScript errors in playground components
  frontend/admin-dashboard/src/components/playground/AdvancedParameters.tsx
  frontend/admin-dashboard/src/pages/Playground.tsx
Due: frontend-lint, frontend-tests

Update CORS settings to use app.peerdigital.se instead of VM IP
  .github/workflows/deploy.yml
  backend/main.py
  compare_content.sh
  deployment/README.md
  docs/github-auth-guide.md
  fixed_nginx.conf
Due: run-backend-tests
