Repository peer-digital/peerai: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-backend-tests, frontend-lint, frontend-tests

run-backend-tests:
  name: Run Backend Unit Tests
  entry: pytest tests/test_auth.py tests/test_inference.py -v --no-cov
  language: system
  pass_filenames: false
  verbose: true

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend/admin-dashboard && npm run lint:fix'
  language: system
  pass_filenames: false

frontend-tests:
  name: Frontend Unit Tests
  entry: bash -c 'cd frontend/admin-dashboard && npm run test:unit:ci'
  language: system
  pass_filenames: false

RAG template update
  backend/scripts/rag-chatbot-template-config.json
Due: none

copy fix
  backend/scripts/rag-chatbot-template-config.json
Due: none

Deleting an app will now delete all associated data in DB
  backend/routes/deployed_apps.py
Due: run-backend-tests

Disable button fix
  frontend/admin-dashboard/src/components/config/EnhancedConfigForm.tsx
  frontend/admin-dashboard/src/pages/DeployedAppView.tsx
Due: frontend-lint, frontend-tests

default values added
  backend/scripts/rag-chatbot-template.html
Due: none

Handle cases where no files are uploaded
  backend/scripts/rag-chatbot-template.html
Due: none

Sources wip
  backend/scripts/apps/rag-chatbot-974.html
Due: none

Tenokate update
  backend/scripts/rag-chatbot-template.html
Due: none

Sources module update
  backend/scripts/rag-chatbot-template.html
  rag-chatbot.html
Due: none

File upload widget fix
  frontend/admin-dashboard/src/components/widgets/FileUploadWidget.tsx
Due: frontend-lint, frontend-tests

Template update to handle baseurl
  backend/scripts/rag-chatbot-template.html
Due: none

workflow now updates templates
  scripts/deploy.sh
Due: none

Revert "workflow now updates templates"
  scripts/deploy.sh
Due: none

Reapply "workflow now updates templates"
  scripts/deploy.sh
Due: none

Work in progress on RAG template Updated language
  backend/scripts/rag-chatbot-template-config.json
  frontend/admin-dashboard/src/components/config/EnhancedConfigForm.tsx
Due: frontend-lint, frontend-tests

RAG template updates - Wizard mode
  frontend/admin-dashboard/src/components/config/EnhancedConfigForm.tsx
  frontend/admin-dashboard/src/pages/AppLibrary.tsx
  frontend/admin-dashboard/src/pages/DeployedAppView.tsx
Due: frontend-lint, frontend-tests

Moved field descriptions above fields
  frontend/admin-dashboard/src/components/config/EnhancedConfigForm.tsx
Due: frontend-lint, frontend-tests

Apps are now deployed via page
  frontend/admin-dashboard/src/App.tsx
  frontend/admin-dashboard/src/pages/AppLibrary.tsx
  frontend/admin-dashboard/src/pages/DeployAppView.tsx
Due: frontend-lint, frontend-tests

Removed redudant buttons
  frontend/admin-dashboard/src/pages/DeployAppView.tsx
Due: frontend-lint, frontend-tests

Deploy button update
  frontend/admin-dashboard/src/components/config/EnhancedConfigForm.tsx
  frontend/admin-dashboard/src/pages/DeployAppView.tsx
Due: frontend-lint, frontend-tests

Template intro
  backend/scripts/rag-chatbot-template-config.json
Due: none

removed redudant code
  backend/scripts/rag-chatbot-template-config.json
Due: none

upload files before deploying app
  backend/main.py
  backend/routes/temp_documents.py
  backend/schemas/documents.py
  backend/scripts/rag-chatbot-template-config.json
  frontend/admin-dashboard/src/components/widgets/FileUploadWidget.tsx
  frontend/admin-dashboard/src/pages/DeployAppView.tsx
Due: run-backend-tests, frontend-lint, frontend-tests

sticky filename for history
  backend/routes/temp_documents.py
Due: run-backend-tests

Error handling fixes
  backend/routes/temp_documents.py
  frontend/admin-dashboard/src/components/widgets/FileUploadWidget.tsx
  frontend/admin-dashboard/src/pages/DeployAppView.tsx
Due: run-backend-tests, frontend-lint, frontend-tests

edit mode improvements
  frontend/admin-dashboard/src/components/config/EnhancedConfigForm.tsx
  frontend/admin-dashboard/src/pages/DeployAppView.tsx
  frontend/admin-dashboard/src/pages/DeployedAppView.tsx
Due: frontend-lint, frontend-tests

fixes
  frontend/admin-dashboard/src/pages/DeployedAppView.tsx
Due: frontend-lint, frontend-tests

Remember current page in wizard
  frontend/admin-dashboard/src/components/config/EnhancedConfigForm.tsx
  frontend/admin-dashboard/src/pages/DeployAppView.tsx
  frontend/admin-dashboard/src/pages/DeployedAppView.tsx
Due: frontend-lint, frontend-tests

Updated click function that caused errors during deploy
  frontend/admin-dashboard/src/components/config/EnhancedConfigForm.tsx
Due: frontend-lint, frontend-tests

UX improvements for wizard
  frontend/admin-dashboard/src/components/config/EnhancedConfigForm.tsx
Due: frontend-lint, frontend-tests

Tooltip fixes
  backend/scripts/rag-chatbot-template-config.json
  frontend/admin-dashboard/src/components/config/EnhancedConfigForm.tsx
Due: frontend-lint, frontend-tests

Ux fixes for upload section
  backend/scripts/rag-chatbot-template-config.json
  frontend/admin-dashboard/src/components/widgets/FileUploadWidget.tsx
  frontend/admin-dashboard/src/pages/DeployedAppView.tsx
Due: frontend-lint, frontend-tests

WIP upload section
  .gitignore
  backend/scripts/rag-chatbot-template-config.json
  frontend/admin-dashboard/src/components/widgets/FileUploadWidget.tsx
  frontend/admin-dashboard/src/pages/DeployedAppView.tsx
Due: frontend-lint, frontend-tests

Various fixes
  frontend/admin-dashboard/src/components/config/EnhancedConfigForm.tsx
  frontend/admin-dashboard/src/components/ui/StatusBadge.tsx
  frontend/admin-dashboard/src/components/widgets/FileUploadWidget.tsx
  frontend/admin-dashboard/src/pages/DeployedAppView.tsx
Due: frontend-lint, frontend-tests

Status wip
  frontend/admin-dashboard/src/components/widgets/FileUploadWidget.tsx
Due: frontend-lint, frontend-tests

Uploading process fixes
  frontend/admin-dashboard/src/components/widgets/FileUploadWidget.tsx
Due: frontend-lint, frontend-tests

Update FileUploadWidget.tsx
  frontend/admin-dashboard/src/components/widgets/FileUploadWidget.tsx
Due: frontend-lint, frontend-tests

uploading fixes
  frontend/admin-dashboard/src/components/widgets/FileUploadWidget.tsx
Due: frontend-lint, frontend-tests

Furhter upload fixes
  frontend/admin-dashboard/src/components/widgets/FileUploadWidget.tsx
Due: frontend-lint, frontend-tests

modal harmonising
  frontend/admin-dashboard/src/components/widgets/FileUploadWidget.tsx
  frontend/admin-dashboard/src/pages/DeployedAppView.tsx
  frontend/admin-dashboard/src/pages/MyApps.tsx
Due: frontend-lint, frontend-tests

Path conditions:
  run-backend-tests: any of: \.py$
  frontend-lint: any of: ^frontend/admin-dashboard/.*\.(ts|tsx|js|jsx)$
  frontend-tests: any of: ^frontend/admin-dashboard/.*\.(ts|tsx|js|jsx)$
